@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gopher';
    src: url('/fonts/Gopher/Gopher-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gopher';
    src: url('/fonts/Gopher/Gopher-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
